<p id="notice" class="alert alert-success"><%= notice %></p>

<aside class="sidebar">

<section>
    <span class="label">プロフィール画像</span>
    <h3 class="user-info">
      <!-- ここでimage_forヘルパーを呼び出してください -->
 <%= image_for(@user) %>     
    </h3>
  </section>


  <section>
    <span class="label">ユーザー</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>
  
  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>

  <section>
    <small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
  </section>

</aside>
<ul class="notes">
  <!-- ここで@notesに対してeachメソッドを用いてください -->
 <%= render @notes %>

</ul>
